<app-header></app-header>
<div class="row">
<div class="col-3"  *ngFor="let card of adminCards">
    <div class="card cardStyle" (click)="gotoCard(card?.route)">
    <div class="card-body">
      <h5 class="card-title">{{card?.name}}</h5>
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
