<nav class="navbar navbar-light header">
    <a class="navbar-brand">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        <span class="headerName">Flash- The Local Delivery</span>
    </a> 
</nav>