.header{
    background-color: #f0795d;
    height: 70px !important;
    display: block;
    text-align: center;
    padding: 0;
    list-style: none;
}
.headerName{
    font-size: 27px;
    color: ghostwhite;
    text-align: center;;
}