<app-header></app-header>
<app-common-operation></app-common-operation>
<br/><br/>
<div class="table-responsive">
<table class="table table-striped center">
  <thead>
      <tr class="tableHeading">           
        <th *ngFor="let head of items[0] | keys">{{head}}</th>
        <th >Action</th>
        <th >Select</th>
      </tr>
    </thead>
    <tbody class="tbodycenter">
      <tr *ngFor="let item of items">           
        <td *ngFor="let list of item | keys">{{item[list]}}</td>       
        <td>
          <i class="fa fa-edit iconEdit" (click)="editShop(item.shopId)"></i><i class="fa fa-trash iconDelete" (click)="deleteShop(item.shopId)"></i>
          <!-- <button class="btn btn-danger">Delete </button> -->
        </td>
        <td>
          <input type="checkbox">
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <app-footer></app-footer>