<!--
Project: life BCG
File: post.component
Author: Sushant Indulkar - sushant.indulkar@wwindia.com
-----
Copyright (c) 2020
-----
HISTORY:
Date      	By       	Comments
----------	---------	---------------------------------------------------------
-->

<div class="modal-header">
    <h5 class="modal-title">{{addUpdateFlag?"Update":"Add"}} Shop</h5>
    <i class="fa fa-close" (click)="closeModal()"></i>
</div>



<div class="modal-body">
    <form [formGroup]="shopForm">
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Category Name</label>
            <div class="col-sm-8">
                  <select class="dropDown" (change)="getUserId($event.target.value)" formControlName="category">
                    <option> {{categoryName}}</option>
                    <option *ngFor="let user of categoryData" [ngValue]="user.categoryName" 
                       [selected]="user.categoryName == categoryName">
                     {{user?.categoryName}}
                    </option>
                  </select>
                  <div *ngIf="categoryError" class="errorMsg">
                    Category Name is required
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Name</label>
            <div class="col-sm-8">
                <input formControlName="shopName" [ngClass]="{ 'is-invalid': submitted && f.shopName.errors }" type="text" class="form-control"  placeholder="Shop Name">
                <div *ngIf="submitted && f.shopName.errors" class="invalid-feedback">
                    <div *ngIf="f.shopName.errors.required">Shop Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Description</label>
            <div class="col-sm-8">
                <textarea formControlName="shopDesp" [ngClass]="{ 'is-invalid': submitted && f.shopDesp.errors }" type="text" class="form-control"  placeholder="Description"></textarea>
                <div *ngIf="submitted && f.shopDesp.errors" class="invalid-feedback">
                    <div *ngIf="f.shopDesp.errors.required">Shop Description is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Owner Name</label>
            <div class="col-sm-8">
                <input formControlName="shopOwner" [ngClass]="{ 'is-invalid': submitted && f.shopOwner.errors }" type="text" class="form-control"  placeholder="Owner Name">
                <div *ngIf="submitted && f.shopOwner.errors" class="invalid-feedback">
                    <div *ngIf="f.shopOwner.errors.required">Owner Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Contact Number</label>
            <div class="col-sm-8">
                <input formControlName="mobileNumber" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" type="number" class="form-control"  placeholder="Mobile Number">
                <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNumber.errors.required">Contact Number is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Email</label>
            <div class="col-sm-8">
                <input formControlName="ownerEmail" [ngClass]="{ 'is-invalid': submitted && f.ownerEmail.errors }" type="email" class="form-control"  placeholder="Shop Email">
                <div *ngIf="submitted && f.ownerEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.ownerEmail.errors.required">Email is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Address</label>
            <div class="col-sm-8">
                <textarea formControlName="shopAddress" [ngClass]="{ 'is-invalid': submitted && f.shopAddress.errors }" type="text" class="form-control"  placeholder="Shop Address"></textarea>
                <div *ngIf="submitted && f.shopAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.shopAddress.errors.required">Address is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Rating</label>
            <div class="col-sm-8">
                <input formControlName="shopRating" [ngClass]="{ 'is-invalid': submitted && f.shopRating.errors }" type="number" class="form-control"  placeholder="Range 1 to 5">
                <div *ngIf="submitted && f.shopRating.errors" class="invalid-feedback">
                    <div *ngIf="f.shopRating.errors.required">Rating is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Shop Location</label>
            <div class="col-sm-8">
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Longitude</label>
                    <div class="col-sm-8">
                        <input formControlName="longitude" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" type="number" class="form-control"  placeholder="Longitude">
                        <div *ngIf="submitted && f.longitude.errors" class="invalid-feedback">
                            <div *ngIf="f.longitude.errors.required">Longitude is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Latitude</label>
                    <div class="col-sm-8">
                        <input formControlName="latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }"  type="number" class="form-control"  placeholder="Latitude">
                        <div *ngIf="submitted && f.latitude.errors" class="invalid-feedback">
                            <div *ngIf="f.latitude.errors.required">Longitude is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-4 col-form-label alignCenter">Logos</label>
            <div class="col-sm-8">
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Shop Logo</label>
                    <div class="col-sm-8">
                        <input formControlName="shopLogo"  type="file" class="form-control-file">
                        <div *ngIf="logoError" class="errorMsg">
                            Logo is required
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Shop Mini Logo</label>
                    <div class="col-sm-8">
                        <input formControlName="miniLogo"  type="file" class="form-control-file">
                        <div *ngIf="miniLogoError" class="errorMsg">
                            Mini Logo is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary  btn-sm" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="addData()">{{addUpdateFlag?"Update":"Add"}}</button>
</div>