<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="loginForm">
            <span id="reauth-email" class="reauth-email"></span>
            <input formControlName="adminNumber" [ngClass]="{ 'is-invalid': submitted && f.adminNumber.errors }" type="text" id="inputNumber" class="form-control" placeholder="Admin Number"  autofocus>
            <div *ngIf="submitted && f.adminNumber.errors" class="invalid-feedback">
                <div *ngIf="f.adminNumber.errors.required">Admin Number is required</div>
                <div *ngIf="f.adminNumber.errors.pattern">Not Valid Mobile Number</div>
            </div>
            <br/>
            <input formControlName="adminPassword" [ngClass]="{ 'is-invalid': submitted && f.adminPassword.errors }" type="password" id="inputPassword" class="form-control" placeholder="Password">
            <div *ngIf="submitted && f.adminPassword.errors" class="invalid-feedback">
                <div *ngIf="f.adminPassword.errors.required">Password is required</div>
            </div>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="loginAdmin()" >Sign in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->