.searchDiv{
       // text-align: center;
}
.formSearch{
    width: 80%;
}
.addBtn{
    width: 8%;
}
.deleteBtn{
    //width:9%;
}
.searchLabel{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 50px;
}
.inputSearch{
    width: 50%;
}