<nav class="navbar navbar-light bg-light">
    <form class="form-inline formSearch">
            <label class="searchLabel"> Search By Name</label>
            <input class="form-control mr-sm-4 inputSearch" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-lg btn-primary addBtn" (click)="openModal()">Add</button>
      <button type="button" class="btn btn-secondary btn-lg deleteBtn">Delete</button>
  </nav>