/* You can add global styles to this file, and also import other style files */

.center {
    margin-left: auto;
    margin-right: auto;
  }
  .tableHeading{
    background-color: #f2cd91!important;
    text-align: center;
}
.tbodycenter{
    text-align: center;
}
.modal-content{
  width: 150% !important;
  margin-left: -150px !important;
}
.alignCenter{
  padding-inline-start:50px
}
.errorMsg{
  color: #dc3545;
  font-size: 80%;
}
.dropDown{
  height: 40px;
  border: 1px solid #d0cdcd;
  border-radius: 8px;
}
.iconEdit{
  font-size: 20px;
  color: darkturquoise;
  margin-right:8px
}
.iconDelete{
  font-size: 20px;
  color: red;
}